<section>

    <h1>FAQ</h1>
    <div class="container-faq">
        <div class="">
            <div class="feature" id="faqft1">
                <div (click)="displayFaqDescription(1)">
                    <h2>What is this game?</h2>
                    <span class="material-symbols-outlined" >
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc1">33 Immortals is a co-op action-roguelike for 33 players. Play a damned soul, and rebel against God’s final judgment. Pick-up and raid, cooperate to survive hordes of monsters, defeat massive bosses, and face the wrath of God in the ultimate fight for your eternal life.</p>
            </div>
            <div class="feature" id="faqft2">
                <div (click)="displayFaqDescription(2)">
                    <h2>Why Early Access</h2>
                    <span class="material-symbols-outlined" >
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc2">We’re excited to continue Thunder Lotus’ proud and positive tradition of working with our community of players during game development. We’re off to a great start, but constructive player feedback is the key to bringing the game to the next level. Early Access lets players participate in development, and helps us explore different game ideas together with a live community to find what works best. We want to learn how you play the game and use that insight to make sure that 33 Immortals is a game you truly love.</p>
            </div>
            <div class="feature" id="faqft3">
                <div (click)="displayFaqDescription(3)">
                    <h2>What is a closed beta and how do i join</h2>
                    <span class="material-symbols-outlined" >
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc3">This is an early stage of development where we’re inviting members of our community to playtest the game, and tell us what they think! Our closed beta will be available on Epic Games Store and on the Xbox Game Pass. It will begin on May 24th and last until June 2nd 2024. Sign up to our mailing list to get a chance to play!</p>
            </div>
        </div>
        <div>
            
            <div class="feature" id="faqft4">
                <div (click)="displayFaqDescription(4)">
                    <h2>Where/when can i play?</h2>
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc4">The game will be available in Early Access in 2024 on Epic Games Store, Xbox Series X|S, Windows PC and with Xbox Game Pass for console and PC.</p>
            </div>
            <div class="feature" id="faqft5">
                <div (click)="displayFaqDescription(5)">
                    <h2>How are you planning on involving the Community?</h2>
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc5">We’re inviting the community to be the first to play 33 Immortals during the private testing phase of the project, and to share their constructive feedback. Please sign up in the form below if you’re interested – we hope you’ll consider taking part in the Early Access phase too! Meanwhile, joining the community in our Discord and helping it be a swell, positive place to be is always helpful.</p>
            </div>
            <div class="feature" id="faqft6">
                <div (click)="displayFaqDescription(6)">
                    <h2>How do i get in touch with the team?</h2>
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
                <p class="noShow" id="faqdesc6">The easiest way to get in touch with us is through Discord. We’re most responsive there, and thanks for your patience: we keep regular office hours in the Eastern Time Zone.</p>
            </div>
        </div>
    </div>
</section>