<div class="content">
    <div class="title-container">
      <h1> ABOUT 33 INMORTALS</h1>
    </div>
    <div class="features-image">
      <div class="feature-container">
        <div class="feature" id="ft1">
          <div (click)="displayDescription(1)">
            <h2>Join the rebellion</h2>
            <span class="material-symbols-outlined" >
              add
            </span>
          </div>
          <p class="noShow" id="desc1">Your mortal life has been judged sinful, and your soul’s fate is to be punished for all eternity – but an uprising is brewing among the damned! Press on as a renegade in the immortal rebellion against God’s final judgment, and fight for your eternal life.</p>
        </div>
        <div class="feature" id="ft2">
          <div (click)="displayDescription(2)">
            <h2>Pick-up and raid</h2>
            <span class="material-symbols-outlined" >
              add
              </span>
          </div>
          <p class="noShow" id="desc2">Jump start your rebellion – dive straight into epic co-op battles with instant matchmaking. Fight through a lean, mean distillation of the MMO raid experience.</p>
        </div>
        <div class="feature" id="ft3">
          <div (click)="displayDescription(3)">
            <h2>33-player co-op</h2>
            <span class="material-symbols-outlined" >
              add
              </span>
          </div>
          <p class="noShow" id="desc3">Find true strength in numbers. Optimize your skills and tactics to bolster your 33-player team, and tip the odds in your favor through powerful cooperative moves. Sustain your numbers as best you can, for only the strongest group of survivors stand a fighting chance in brutal boss battles.</p>
        </div>
        <div class="feature" id="ft4">
          <div (click)="displayDescription(4)">
            <h2>Rise above the Almighty</h2>
            <span class="material-symbols-outlined">
              add
              </span>
          </div>
          <p class="noShow" id="desc4">Face the Wrath of God, and stay bold – for He will end your quest swiftly and often. Expand your epic arsenal with weapons empowered by sins and virtues, loot the spoils of His realms, equip potent new relics to match your playstyle, and gain permanent upgrades to your soul.</p>
        </div>
      </div>
      <div class="imgRebellion">
      </div>
    </div>
    </div>