<div class="container-contact">
    <div class="header-contact">

        <h1>JOIN THE CLOSED BETA</h1>
        <p>The 33 Inmortals Closed Beta will run from May 24th through June 2nd, 2024!</p>
        <p class="sign-desc">Sign up below for a chance to play, and join the chirning rebellion of damned souls in the quest to become inmortal!</p>
    </div>

    <form action="">
        <input type="text" placeholder="first name*">
        <input type="text" placeholder="email address*">
        <div>
            <label class="main">PLEASE CHECK THIS BOX TO AGREE WITH THE TERMS.
                <input type="checkbox" checked="checked">
                <span class="checkbox-container"></span>
            </label>
            <button class="btnSend">SEND</button>
        </div>
    </form>
</div>